body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

/* Title section */
#title {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 10px;
}

#title h1 {
    font-size: 3rem;
}

.index {
    display: flex;
    justify-content: space-around;
}

.index a {
    color: grey;
}

.index a:hover {
    color: black;
}

.hover-underline {
    display: inline-block;
    position: relative;
    color: black;
}

.hover-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(182, 233, 228);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* About me section */
#about {
    text-align: center;
    padding: 2%;
}

.text {
    text-align: justify;
}

.profile-pic {
    width: 35%;
}

.link-buttons {
    padding: 2rem;
}

.link-buttons a {
    color: black;
}



/* Highlight section */
#highlights h1{
    text-align: center;
}

.timeline-items {
    max-width: 1000px;
    margin: auto;
}

.timeline-item {
    margin-bottom: 40px;
}

.sub {
    font-size: smaller;
    margin-bottom: 2px;
}

.cv {
    text-align: center;
}



/* Footer section */
#footer {
    min-height: 50px;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    background-color: gainsboro;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.foot-link {
    padding: 1rem;
}

.foot-link i:hover {
    color: rgb(45, 45, 45);
}

a {
    text-decoration: none;
    display: inline-block;
    color: black;
}

i {
    color: black;
}

.hidden {
    opacity: 0;
    transition: all 3s;
}


.show {
    opacity: 1;
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}